services:
  db:
    container_name: db-postgres
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventdb
    ports:
      - 5431:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
